In [7]:
# importing tools

import pandas as pd
import numpy as np
import mysql.connector
from mysql.connector import Error
import matplotlib.pyplot as plt

In [13]:
def prepare_dataframes(data_csv):
    return pd.read_csv(data_csv)

In [64]:
def check_data_quality(df):
    print("\nData quality checks:")
    print("NaN values:\n", df.isnull().sum())
    print("Duplicate rows:", df.duplicated().sum())

In [69]:
def convert_to_date_objects(df, date_name):
    df['year'] = df[date_name].dt.year
    df['month'] = df[date_name].dt.month
    df['day'] = df[date_name].dt.day

In [75]:
def main():
    # load csv's into dataframes
    orders = prepare_dataframes("Orders.csv")
    products =  prepare_dataframes("products.csv")
    customers =  prepare_dataframes("customers.csv")

    # merging orders and products df
    sales = pd.merge(orders,  products, on="product_id", how =  "inner")

    # rename Cutomer_id column name to customer_id
    sales.rename(columns = {"Cutomer_id":"customer_id"}, inplace=True)

    # merging sales and customers df
    sales_data = pd.merge(sales, customers, on="customer_id", how="inner")

    # drop join_data column (not needed in our sales data)
    sales_data.drop(["join_date"] ,axis=1, inplace=True)

    # checks for missing value and dupicates
    check_data_quality(sales_data)

    # convert order_date object to date object
    sales_data['order_date'] = pd.to_datetime(sales_data['order_date'])

    #  total revenue for each order
    sales_data["total_revenue"] = sales_data["quantity"] * sales_data["price"]

    # order date breakdown ( year, month, day)
    convert_to_date_objects(sales_data, "order_date")
    
    print(sales_data.head())
if __name__ == "__main__":
    main()

Data quality checks:
NaN values:
 order_id         0
customer_id      0
order_date       0
product_id       0
quantity         0
product_name     0
category         0
price            0
customer_name    0
email            0
dtype: int64
Duplicate rows: 0
   order_id  customer_id order_date  product_id  quantity product_name  \
0         1           20 2024-11-01           3         2       Tablet
1         2           36 2024-11-01           1         1       Laptop
2         3            1 2024-11-01           8         3   Headphones
3         4           36 2024-11-02           6         1   Smartwatch
4         5           14 2024-11-02          12         2         Desk

      category   price  customer_name              email  total_revenue  year  \
0  Electronics   450.0     Tina Young   tina@example.com          900.0  2024
1  Electronics  1200.0   James Walker  james@example.com         1200.0  2024
2  Electronics   150.0  Alice Johnson  alice@example.com          450.0  2024
3  Electronics   200.0   James Walker  james@example.com          200.0  2024
4    Furniture   300.0  Nina Mitchell   nina@example.com          600.0  2024

   month  day
0     11    1
1     11    1
2     11    1
3     11    2
4     11    2

In [27]:
# merging products and orders dataframe
sales_data = pd.merge(orders,  products, on="product_id", how =  "inner")

In [47]:
print(sales_data.head())

   order_id   Cutomer_id order_date  product_id  quantity product_name  \
0         1  Customer_id  11/1/2024           3         2       Tablet
1         2  Customer_id  11/1/2024           1         1       Laptop
2         3  Customer_id  11/1/2024           8         3   Headphones
3         4  Customer_id  11/2/2024           6         1   Smartwatch
4         5  Customer_id  11/2/2024          12         2         Desk

      category   price
0  Electronics   450.0
1  Electronics  1200.0
2  Electronics   150.0
3  Electronics   200.0
4    Furniture   300.0

In [49]:
# renaming cutomer_id code to customers_id
sales_data.rename(columns = {"Cutomer_id":"Customer_id"}, inplace=True)

In [51]:
print(sales_data.head())

   order_id  Customer_id order_date  product_id  quantity product_name  \
0         1  Customer_id  11/1/2024           3         2       Tablet
1         2  Customer_id  11/1/2024           1         1       Laptop
2         3  Customer_id  11/1/2024           8         3   Headphones
3         4  Customer_id  11/2/2024           6         1   Smartwatch
4         5  Customer_id  11/2/2024          12         2         Desk

      category   price
0  Electronics   450.0
1  Electronics  1200.0
2  Electronics   150.0
3  Electronics   200.0
4    Furniture   300.0

In [ ]:
final_sales_data = pd.merge()

In [31]:
# checks for missing value
sales_data.isnull().sum()

order_id        0
Cutomer_id      0
order_date      0
product_id      0
quantity        0
product_name    0
category        0
price           0
dtype: int64

In [33]:
# checks for duplicated values
sales_data.duplicated().sum()

0

In [35]:
print(sales_data['order_date'].dtype)

object

In [53]:
# convert order_date object to date object
sales_data['order_date'] = pd.to_datetime(sales_data['order_date'])

In [55]:
print(sales_data["order_date"].dtype)

datetime64[ns]

In [61]:
#  total revenue for each order
sales_data["total_revenue"] = sales_data["quantity"] * sales_data["price"]

In [65]:
print(sales_data.head())

   order_id  Customer_id order_date  product_id  quantity product_name  \
0         1  Customer_id 2024-11-01           3         2       Tablet
1         2  Customer_id 2024-11-01           1         1       Laptop
2         3  Customer_id 2024-11-01           8         3   Headphones
3         4  Customer_id 2024-11-02           6         1   Smartwatch
4         5  Customer_id 2024-11-02          12         2         Desk

      category   price  total_revenue
0  Electronics   450.0          900.0
1  Electronics  1200.0         1200.0
2  Electronics   150.0          450.0
3  Electronics   200.0          200.0
4    Furniture   300.0          600.0

In [67]:
# order date breakdown ( year, month, day)
sales_data['year'] = sales_data['order_date'].dt.year
sales_data['month'] = sales_data['order_date'].dt.month
sales_data['day'] = sales_data['order_date'].dt.day

In [69]:
print(sales_data.head())

   order_id  Customer_id order_date  product_id  quantity product_name  \
0         1  Customer_id 2024-11-01           3         2       Tablet
1         2  Customer_id 2024-11-01           1         1       Laptop
2         3  Customer_id 2024-11-01           8         3   Headphones
3         4  Customer_id 2024-11-02           6         1   Smartwatch
4         5  Customer_id 2024-11-02          12         2         Desk

      category   price  total_revenue  year  month  day
0  Electronics   450.0          900.0  2024     11    1
1  Electronics  1200.0         1200.0  2024     11    1
2  Electronics   150.0          450.0  2024     11    1
3  Electronics   200.0          200.0  2024     11    2
4    Furniture   300.0          600.0  2024     11    2